@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 70px;
}

.accreditations {
  font-size: 15px;
  letter-spacing: 2px;
  color: #6a6969;
}

.add-procedure {
  background-image: url("/img/additional-procedure-bg-1.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
  padding-bottom: 10%;
}

.add-procedure h1 {
  font: 7vh "Raleway";
  color: #ffffff;
}

.background {
  top: 10vh;
  background-image: url("/img/hero-banner-desktop-size.jpg");
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  z-index: -5;
  position: absolute;
}

.bg-white {
  background-color: #ffffff;
}

.bg-lb {
  background-color: #F2F8FC;
}

.body-text {
  font: 100% "Raleway";
  font-size: 18px;
  font-weight: 300;
  color: #4b4b4b;
}

.button1 {
  height: 65px;
  width: 370px;
  background-color: #007ABA;
  font: 100% "Raleway";
  color: #ffffff;
  border: none;
}

.button2 {
  height: 65px;
  width: 370px;
  background-color: transparent;
  font: 100% "Raleway";
  color: #007ABA;
  border: 1px solid #007ABA;
}

.big-logo {
  max-width: 100%;
  height: auto;
}

.card {
  font: 100% "Raleway";
}

.card .card-text {
  font-weight: 300;
  font-size: 18px;
  color: #4b4b4b;
}

.card .card-space {
  line-height: 1.5em;
}

.card .card-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 5%;
  border: none;
}

.card .card-link {
  font-weight: 600;
  font-size: 18px;
}

.card .orange-bottom {
  border-bottom: 4px solid #fa4616;
}

.center-text {
  text-align: center;
  font: "Raleway";
}

.consultation {
  background-color: #007ABA;
  color: #ffffff;
  text-align: center;
  padding-top: 2vh;
  font: 2vh "Raleway", bold;
  height: 7vh;
  font-size: 16px;
}

.consultation .ctext {
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
      -ms-text-size-adjust: auto;
          text-size-adjust: auto;
  word-wrap: break-word;
  display: block;
  line-height: 1em;
  max-height: 2em;
}

.fill {
  background-color: black;
  min-height: 50vh;
}

.footer {
  min-height: 20vh;
  min-width: 100vw;
  background-color: #007ABA;
  font: 100% "Raleway";
  color: #ffffff;
  padding-top: 4%;
  bottom: 0;
  text-align: left;
}

.h1-heading {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  font: 100% "Raleway";
}

.icons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  size: 40vw;
}

.line-space {
  line-height: 2.5em;
}

.light {
  font-weight: 300;
  font: "Raleway";
}

.link {
  font-weight: 600;
  font-size: 18px;
  color: #007ABA;
}

.medium {
  font-weight: 500;
}

.mynav {
  font: 100% "Raleway";
  font-size: 15px;
  color: #151515;
  display: inline;
  font-weight: 600;
}

.mynav li {
  margin-right: 10px;
  list-style-type: none;
  color: #151515;
}

.mynav .nav-item {
  color: #151515;
  float: left;
  color: white;
  text-decoration: none;
  font-size: 1vw;
  min-width: auto;
  /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center;
}

.mynav .navbar-nav .nav-link {
  color: #151515;
  font-weight: 600;
}

.navbar-fixed {
  top: 0;
  position: fixed;
  width: 100%;
  min-height: 15vh;
}

.navbar-collapse.collapse.in {
  display: block !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
  width: auto;
}

.orange {
  color: #fa4616;
}

.page-title {
  font: 100% "Raleway";
  font-weight: 600;
  font-size: 40px;
  padding-top: 5%;
}

.phone-num {
  color: #007ABA;
  font: 3vh "Raleway";
  text-align: center;
}

.procedures {
  font: 100% "Raleway";
  min-height: 100px;
  background-color: #F2F8FC;
  padding-top: 5%;
  padding-bottom: 5%;
}

.procedures .card-deck {
  padding-top: 3%;
}

.procedures .card-deck .card {
  border: none;
  background-color: transparent;
}

.procedures .card-deck .card-title {
  text-align: left;
  font-size: 32px;
  font-weight: 600;
}

.procedures .card-deck .card-text {
  font-size: 18px;
  line-height: 2.5em;
}

.procedures .card-deck .card-link {
  font-size: 18px;
  color: #007ABA;
  text-transform: uppercase;
}

.prefooter {
  background-color: #F2F8FC;
  min-height: 100vh;
}

.reviews {
  background-image: url("/img/reviews-section-bg.jpg");
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
  min-height: auto;
  width: 100%;
}

.subtab {
  font: 100% "Raleway";
  font-size: 15px;
}

.semi {
  font-weight: 600;
}

.star {
  top: 5%;
  color: #fa4616;
}

.swiper-container {
  height: auto;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.swiper-container .swiper-slide {
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
  min-height: 10vh;
  font: 100% "Raleway";
}

.swiper-container .swiper-slide p {
  padding-left: 6vw;
  padding-right: 6vw;
  padding-bottom: 0vh;
}

.swiper-container .swiper-slide .swiper-link {
  font-size: 18px;
  color: #007ABA;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding-top: 5%;
  text-transform: uppercase;
}

.text-nowrap {
  white-space: nowrap;
}

.to-top {
  margin-right: 5%;
  text-align: right;
}

.thin {
  font-weight: 100;
}

.white {
  color: #ffffff;
}

.wfill {
  background-color: #ffffff;
  min-height: 100vh;
}

.xcontent {
  background-color: #ffffff;
  min-height: auto;
  padding: 1%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10vh;
}

.xcontent .extra {
  font: "Raleway";
  text-align: left;
}

.xcontent .extra h5 {
  font-weight: 600;
  font-size: 22px;
}

.xcontent .extra p {
  font-weight: 100;
}

.xcontent .extra a {
  font-weight: 600;
  font-size: 18px;
  color: #007ABA;
}
/*# sourceMappingURL=style.css.map */