@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');


* {
    margin: 0;
    padding: 0;

}

body {
    padding-bottom: 70px;


}


$nav-brand: url('/img/Site-logo.png');
$header-img: url('/img/hero-banner-desktop-size.jpg');
$reviews-image: url('/img/reviews-section-bg.jpg');
$add-procedures: url('/img/additional-procedure-bg-1.jpg');
$raleway: 'Raleway';
$blue-color: #007ABA;
$white: #ffffff;
$black: #151515;
$secondary: #fa4616;
$bodytext: #4b4b4b;
$bodytext-light: #6a6969;
$light-blue: #F2F8FC;


$headings: 40px;
$sub-headings: 30px;
$quotes: 18px;
$body-text: 18px;
$nav-tab: 15px;
$procedure-title: 32px;
$footer-heading: 32px;
$footer-h2: 20px;

$thin: 100;
$light: 300;
$regular: 400;
$semi: 600;
$bold: 700;

.accreditations {
    font-size: $nav-tab;
    letter-spacing: 2px;
    color: $bodytext-light;
}






.add-procedure {
    background-image: $add-procedures ;
    object-fit: cover;
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
    padding-bottom: 10%;
    // position: absolute;

    h1 {
        font: 7vh $raleway;
        color: $white;
    }



}

.background {
    top: 10vh;
    background-image: $header-img;
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    // background-attachment: fixed;
    background-position: center;
    // background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
    position: absolute;

}

.bg-white {
    background-color: $white;
}

.bg-lb {
    background-color: $light-blue;
}

.body-text {
    font: 100% $raleway;
    font-size: $body-text;
    font-weight: $light;
    color: $bodytext;
}


.button1 {
    height: 65px;
    width: 370px;
    background-color: $blue-color;
    font: 100% $raleway;
    color: $white;
    border: none;
    text-transform: uppercase;
    font-weight: $semi;

}

.button2 {
    height: 65px;
    width: 370px;
    background-color: transparent;
    font: 100% $raleway;
    color: $blue-color;
    border: 1px solid $blue-color;
    text-transform: uppercase;
    font-weight: $semi;
}

.button3 {
    max-width: 504px;
    height: 65px;
    background-color: $white;
    font: 100% $raleway;
    font-weight: $bold;
    border: none;
    text-transform: uppercase;
    color: $blue-color;
    margin-top: 7%;
}


.big-logo {
    max-width: 100%;
    height: auto;
}



.card {

    font: 100% $raleway;

    .card-text {
        font-weight: $light;
        font-size: $body-text;
        color: $bodytext;
    }

    .card-space {
        line-height: 1.5em;
    }

    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
        padding: 5%;
        border: none;
    }

    .card-link {
        font-weight: $semi;
        font-size: $body-text;
    }

    .orange-bottom {
        border-bottom: 4px solid $secondary;
    }


}



.center-text {
    text-align: center;
    font: $raleway;
}


.consultation {

    background-color: $blue-color;
    color: $white;
    text-align: center;
    padding-top: 1.5vh;
    font: 3vh $raleway, bold;
    height: 45px;
    width: 375px;
    font-weight: $semi;

    .ctext {
        text-size-adjust: auto;
        word-wrap: break-word;
        display: block;
        line-height: 1em;
        max-height: 2em;
    }

    // vertical-align: middle;
    // display: inline;
    font-size: 16px;


}

.contact {
    background-color: $white;
    padding-top: 7%;
    font: 100% $raleway;
    padding-bottom: 7%;


    h1 {
        font-size: $headings;
        font-weight: $regular;
    }

    h2 {
        font-size: $footer-heading;
        font-weight: $regular;
        color: $white;
    }

    p {
        font-size: $body-text;
        font-weight: $light;
    }

    input {
        background-color: $blue-color;
        border-color: $white;
        border-radius: 0 !important;
    }

    label {
        color: $white;
    }


    .contact-form {
        background-color: $white;
        padding-top: 2%;
    }

    .consult-form {
        background-color: $blue-color;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 2%;
        padding-bottom: -3%;

    }
}






.fill {
    background-color: black;
    min-height: 50vh;
}



.footer {
    min-height: 20vh;
    min-width: 100vw;
    background-color: $blue-color;
    font: 100% $raleway;
    color: $white;
    padding-top: 4%;
    bottom: 0;
    text-align: left;

}



.h1-heading {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    font: 100% $raleway;
}




.icons {
    align-items: center;
    size: 40vw;
}


.line-space {
    line-height: 2.5em;
}



.light {
    font-weight: $light;
    font: $raleway;
}

.link {
    font-weight: $semi;
    font-size: $body-text;
    color: $blue-color;
    text-transform: uppercase;
}


.medium {
    font-weight: 500;
}

.mynav {
    font: 100% $raleway;
    font-size: $nav-tab;
    color: $black;
    display: inline;
    font-weight: $semi;
    text-align: center;

    .nav-item {
        .nav-link {
            text-transform: uppercase;
        }
    }

    a {}

    li {

        margin-right: 0vw;
        list-style-type: none;
        color: $black;


    }
}


// .mynav .navbar-nav .nav-link {
//     color: $black;
//     font-weight: 600
// }



.navbar-fixed {
    top: 0;
    // z-index: 100;
    position: fixed;
    width: 100%;
    min-height: 15vh
}

.navbar-collapse.collapse.in {
    display: block !important;
}

.navbar-toggler-icon {

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
    background-image: $nav-brand;
    margin-top: 5%;
    width: 300px;
    height: 79px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}









.orange {
    color: $secondary;

}

.page-title {
    font: 100% $raleway;
    font-weight: $semi;
    font-size: $headings;
    padding-top: 5%;
}



.phone-num {
    color: $blue-color;
    font: 3vh $raleway;
    text-align: center;
}

.procedures {
    font: 100% $raleway;
    min-height: 100px;
    background-color: $light-blue;
    padding-top: 5%;
    padding-bottom: 5%;

    .card-deck {
        padding-top: 3%;


        .card {
            border: none;
            background-color: transparent;
        }

        .card-title {
            text-align: left;
            font-size: $procedure-title;
            font-weight: $semi;

        }

        .card-text {
            font-size: $body-text;
            line-height: 2.5em;
        }

        .card-link {
            font-size: $body-text;
            color: $blue-color;
            text-transform: uppercase;
        }
    }
}



.prefooter {
    background-color: $light-blue;
    min-height: auto;
    padding: 5%;
    text-align: center;
    font: 100% $raleway;

    h1 {
        text-transform: capitalize;
        font-size: $footer-heading;
        text-size-adjust: auto;
        font-weight: semi;


    }

    h2 {
        font-weight: bold;
        font-size: $footer-h2;
        text-transform: capitalize;
    }

    p {
        font-weight: $thin;
        font-size: $body-text;
        line-height: 2em;

    }
}






.reviews {
    background-image: $reviews-image;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
    min-height: auto;
    width: 100%;


}


.subtab {
    font: 100% $raleway;
    font-size: 15px;
}

.semi {
    font-weight: $semi;

}

.star {
    top: 5%;
    color: $secondary;
}


.swiper-container {
    height: auto;
    padding-top: 10vh;
    padding-bottom: 5vh;



    .swiper-slide {
        background-color: $white;
        // display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        min-height: 10vh;
        font: 100% $raleway;
        // padding-top: 6vh;
        // padding-bottom: 6vh;
        border-bottom: 4px solid $secondary;

        p {
            padding-left: 6vw;
            padding-right: 6vw;
            padding-bottom: 0vh;
        }

        .swiper-link {
            font-size: $body-text;
            color: $blue-color;
            font-weight: $bold;
            letter-spacing: 1.5px;
            padding-top: 5%;
            text-transform: uppercase;

        }


    }
}

// .middle {
//     display: block;
//     margin-left: auto;
//     margin-right: auto;

// }

.text-nowrap {
    white-space: nowrap;
}

.to-top {
    margin-right: 5%;
    text-align: right;
}

.thin {
    font-weight: $thin;
}


.white {
    color: $white;
}

.wfill {
    background-color: $white;
    min-height: 100vh;
}

.xcontent {
    background-color: $white;
    min-height: auto;
    // max-height: 50vh;
    padding: 1%;
    align-items: center;
    margin-bottom: 10vh;

    .extra {
        font: 100% $raleway;
        text-align: left;


        h5 {
            font-weight: $semi;
            font-size: 22px;
        }

        p {
            font-weight: $light;
            font-size: $body-text;
            line-height: 2em;



        }

        a {
            font-weight: $semi;
            font-size: $body-text;
            color: $blue-color;
        }

    }
}




// .discourse-swiper {
//     margin-top: 10px;
//     margin-bottom: 20px;
//     display: none;
// }